   
   
   <div class="col-md-3">
     <h2 class="text-left">User info</h2>
     
       <div class="pull-left">
         <%= image_tag user.get_profile_image(100,100) %>
       
       
       <table class="table text-left">
         <tbody>
           <tr>
             <th>name</th>
             <th><%= user.name %></th>
           </tr>
           <tr>
              <th>introduction</th>
              <th><%= user.introduction %></th>
           </tr>
           </tbody>
       </table>
     
     
     <div class="edit_user">
         <%= link_to edit_user_path(current_user), class: "btn btn-light btn-outline-dark btn-block" do %>
         <i class="fa-solid fa-user-gear"></i>
         </i>
        <% end %>
     </div>
  
       <h2 class="mt-3 text-left">New book</h1>

        <div class="form text-left">
          <%= form_with model: book, url: '/books', method: :post do |f| %>
            <p>Title</p>
            <%= f.text_field :title %>
	
            <p>Opinion</p>
            <%= f.text_area :body %>
            <br>	
            <%= f.submit 'Create Book', class: 'btn btn-success' %>
          <% end %>
       </div>
     </div>
   </div>

